@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&display=swap%27");
// Lexend -> for the majority of the site

@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;200;300;400;500;600;700;800;900&display=swap%27");
// Titan One -> for titles...

$font-primary: 'Big Shoulders Display', cursive;
$font-secondary: 'timonium';

$font-black: 900;

html{
  font-family: $font-primary;
}

h1,h2,h3,h4,h5{
  font-family: $font-secondary;
}